*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(44, 74, 92, 0.8), rgba(0, 0, 0, 0.8)), url(/src/banner.jpg);
    background-position: center;
    background-size: cover;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    box-sizing: border-box;
}

/* left side start */
  #banner{
      flex: 1;
      padding: 30px;
      /* border: 3px solid green; */
  }
  #logo, #b-text {
    height: 50%;
    /* border: 3px solid green; */
  }
  #logo {
      top: 0;	
  }
  #b-text {
    bottom: 0;
  }
  #b-text h1{
      color: aliceblue;
      font-size: 80px;
      /* border: 3px solid green; */
      margin-top: 10px;
  }
  #b-text p{
      color: aliceblue;
      font-size: 12px;
      line-height: 20px;
      margin-top: 10px;
      /* border: 3px solid green; */
  }
/* left side end */

#right{
    flex: 1;
    padding: 30px;
    border: 3px solid green;
}
#myBtnContainer{
  border: 3px solid green;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: white;
    cursor: pointer;
    margin: 5px;
  }
  
  /* Add a grey background color on mouse-over */
  .btn:hover {
    background-color: #ddd;
  }
  
  /* Add a dark background color to the active button */
  .btn.active {
    background-color: #666;
     color: white;
  }
  
  .row {
    margin: 10px;
    /* padding: 30px; */
    border: 3px solid green;
    overflow-y: auto;
    overflow-x: hidden;
    height: 80%;
  }
  .row::-webkit-scrollbar {
    display: none;
  }
  
  /* Add padding BETWEEN each column (if you want) */
  .row,
  .row > .column {
    padding: 20px;
  }
  
  /* Create three equal columns that floats next to each other */
  .column {
    float: right;
    width: 40%;
    display: none; /* Hide columns by default */
  }
  
  /* Clear floats after rows */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Content */
  .content {
    background-color: white;
    padding: 10px;
  }

  .image {
    display: block;
    width: 100%;
    height: auto;
  }

  /* The "show" class is added to the filtered elements */
  .show {
    display: block;
  }